<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Stocks Information</title>
</head>
<body>
    <h1>Stocks Information</h1>

    <form method="GET" action="/stock_info/">
        <label for="name">Stock name:</label>
        <input type="text" id="name" name="name">
        <br><br>

        <label for="start_date">Start date:</label>
        <input type="date" id="start_date" name="start_date" value={% if start_date %} {{start_date}} {% else %}"2022-05-01"{% endif %}>
        <br><br>

        <label for="end_date">End date:</label>
        <input type="date" id="end_date" name="end_date" value={% if end_date %} {{end_date}} {% else %}"2023-05-01"{% endif %}<br><br>

        <label for="chart_type">Chart_type:</label>

        <input type="radio" id="chart_type1" name="chart_type" value="line_plot" {% if chart_type == "line_plot" %}  checked="checked" {% endif %} >
        <label for="chart_type1">line_plot</label>
        <input type="radio" id="chart_type2" name="chart_type" value="bar_plot" {% if chart_type == "bar_plot" %}  checked="checked" {% endif %} >
        <label for="chart_type1">bar_plot</label>
        <input type="radio" id="chart_type3" name="chart_type" value="candle_plot" {% if chart_type == "candle_plot" %}  checked="checked" {% endif %} >
        <label for="chart_type1">candle_plot</label>

        <br><br>
        <button type="submit">Search</button>
    </form>
    <br>

    {% for stock in stock_data %}
                <p> {{stock.stock_name}} </p>
                <p> {{stock.standard_code}} </p>
    {% endfor %}

</body>
</html>