<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Stocks Information</title>
</head>
<body>
    <h1>Stocks Information</h1>

    <form method="GET" action="/stock_info/">
        <label for="name">Stock name:</label>
        <input type="text" id="name" name="name">
        <br><br>

        <label for="start_date">Start date:</label>
        <input type="date" id="start_date" name="start_date" value="2022-05-01">
        <br><br>

        <label for="end_date">End date:</label>
        <input type="date" id="end_date" name="end_date" value="2023-05-01"><br><br>

        <label for="chart_type">Chart_type:</label>
        
        <input type="radio" id="chart_type1" name="chart_type" value="line_plot">
        <label for="chart_type1">line_plot</label>
        <input type="radio" id="chart_type2" name="chart_type" value="bar_plot">
        <label for="chart_type1">bar_plot</label>
        
        <br><br>
        <button type="submit">Search</button>
    </form>
    <br>
    {% comment %} <ul>
        <li>Name: {{stock_name}}</li>
        <li>Listed date: {{listed_date}}</li>
        <li>Dividend date: {{dividend_date}}</li>
        <li>Dividend amount: {{dividend_amount}}</li>
    </ul>
    <br> {% endcomment %}

    {% if chart %}
        <h2>Stock Information:</h2>

        {% for stock in stock_data %}
            <p> {{stock.stock_name}} </p>
            <p> {{stock.standard_code}} </p>
        {% endfor %}

        <div id="chart_div"></div>
        <div>
            <!-- <b>Stock Dataframe</b>
            {{ price_data|safe }} -->
            <hr>
            <hr>
            <b>Chart</b>
            <img src="data:image/png;base64, {{chart|safe }}" alt="" id="img">
        </div>
    {% endif %}



</body>
</html>